asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2025.6.15
charset-normalizer==3.4.2
cloudinary==1.44.0
dj-database-url==3.0.0
Django==4.2.20
django-cloudinary-storage==0.3.0
idna==3.10
pillow==10.4.0
psycopg2-binary==2.9.10
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
